<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="measurements" type="Improving.MediatR.MeasurementConfigurationSection, Improving.MediatR" />
  </configSections>
  <measurements  name="request" threshold="2000" enabled="true">
    <add name="Improving" threshold="1000" enabled="true">
	    <add name="ReallyLongOperation"        threshold="5000" enabled="true"></add>
	    <add name="AnotherReallyLongOperation" threshold="5000" enabled="true"></add>
    </add>
    <add name="query"    threshold="1000" enabled="true"></add>
    <add name="myCustom" threshold="1000" enabled="true"></add>
  </measurements>
</configuration>
